Part1/Sixeyed.Ipasbr.Services.Tests/Service References/FormatService/FormatService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="com.sixeyed.ipasbr" elementFormDefault="qualified" targetNamespace="com.sixeyed.ipasbr" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReverseString">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="input" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseStringResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseStringResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>